* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

nav .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

nav ul {
    /* Default  flex-direction stacks the items horizontally*/
    display: flex;
    /* Remove the cdots next to the list elements */
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #1B1B1B;
    background: #E5E7EB;
}